<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06/04/2020</title>
</head>
<body>
    <h2>Secretaria:</h2><br>
    <form action="/formulario" method="GET">
        <button type="submit">Adicionar participante</button><hr>
    </form>
    <div>
        <% resposta.forEach(element => { %>
            <P>Nome: <%= element.nome %> </P>
            <P>Cargo: <%= element.cargo %> </P>
            <P>Dígitos: <%= element.digitos %> </P>
            <form action="/editar/<%= element.id %>" method="GET">
                <button type="submit">Editar</button>
            </form>
            <form action="/confirmar/<%= element.id %>" method="POST">
                <button id="botao" type="submit">Deletar</button>
            </form><hr>
        <% }) %>
    </div>
    
   
</body>
</html>